.caro {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.col {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  font-size: 20px;
}



.cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-size: 35px;
  margin-bottom: 0;
}

.me {
  width: 700px;
  border-radius: 25px;
  border: 2px solid var(--col5);
  margin-top: 3%;
}
.meZoom {
  display: none;
}

.sub-title {
  font-size: 28px;
  text-align: center;
}

@media (max-width: 1020px) {
  .me {
    width: 600px;
  }
  .cols {
    display: block;
  }
 }

 @media (max-width: 800px) { 
  .caro {
    margin-top: 100px;
  }

 }

 @media (max-width: 750px) { 
  .me {
    display: none;
  }
  .caro {
    margin-top: 100px;
  }
  .meZoom {
    border-radius: 25px;
    border: 2px solid var(--col5);
    display: block;
    width: 330px;
    margin: 0 auto;
  }
  .left-col-about-inner col p {
    font-size: 1px;
  }
 }

 @media (max-width: 500px) { 
  .meZoom {
    width: 280px;
  }
  .about-text {
    font-size: 15px;
  }
  .sub-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }
 }