
.projects {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
  color: var(--col1);

  justify-content: center;
  align-items: center;
}

.demoImg {
  margin: 30px;
}


@keyframes fadeIn {
  0% {opacity: 0;}
  100% { opacity: 100%;}
}

.appLink {
  color: var(--col3);
}

.links {
  margin-bottom: 30px;
  display: flex;
  justify-content: left;
  font-size: 20px;
  text-decoration: underline;
}
.spacer5 {
  width: 15px;
}

.project {
  animation: fadeIn 3s;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  margin-bottom: 50px;
  border: 3px solid var(--col5);
  border-radius: 25px;
  background-color: var(--projBoxCol);
  padding: 10px;

  overflow: hidden;
}

h2 {
  font-size: 35px;
  color: var(--col5);
}

.projPic1 {
  width: 380px;
  border-radius: 15px;
}

.proj-title {
  font-size: 25px;
}

.proj-left-col {
  text-align: left;
}

@media (max-width: 800px) {
  .project {
    display: block;
  }
  .projects {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 100px;
  }
}
@media (max-width: 464px) {
  .projPic1 {
    width: 280px;
    border-radius: 15px;
  }
}