.velvet-theme { 
  --navCol: #18020C;
  --navTextCol: #d1e8e2;
  --backgroundCol: #634B66;
  --bodyTextCol: #E5FFDE;
  --bodyTextCol2: #E5FFDE;
  --linkCol: #BBCBCB;
  --projBoxCol: rgba(0,0,0,0.5);
  animation: themeChangeVelvet 1s;
}

@keyframes themeChangeVelvet {
  0% {
    background-color: #2c3531;
  }
  100% { 
    background-color: var(--backgroundCol);
  }
}
@keyframes themeChangeCyber {
  0% {
    background-color: #634B66;
  }
  100% { 
    background-color: var(--backgroundCol);
  }
}
.light-theme {
  --navCol: #116466;
  --navTextCol: #d1e8e2;
  --backgroundCol: #2c3531;
  --bodyTextCol: #d1e8e2;
  --bodyTextCol2: #ffcb9a;
  --linkCol: #d9b08c;
  --projBoxCol: rgba(0,0,0,0.6);
}
.cyber-theme {
  --navCol: #116466;
  --navTextCol: #d1e8e2;
  --backgroundCol: #2c3531;
  --bodyTextCol: #d1e8e2;
  --bodyTextCol2: #ffcb9a;
  --linkCol: #d9b08c;
  --projBoxCol: rgba(0,0,0,0.5);
  animation: themeChangeCyber 1s;
}

body {
  --col2: var(--backgroundCol);
  --col4: var(--navCol);
  --col3:  var(--linkCol);
  --col1: var(--bodyTextCol2);
  --col5: var(--bodyTextCol);
  background-color: var(--col2);
  color: var(--col5);
}

a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

.App {
  text-align: center;
}

.nav-op {
  text-decoration-line: none;
  font-size: 20px;
  color: inherit;
  padding-bottom: 3px;
  padding-right: 30px;
  padding-left: 30px;
}
.clicked {
  border-bottom: 3px solid var(--col6);
}

.nav-word {
  font-size: 25px;
}
.nav-elem {
  padding-top: 5px;
  color: aliceblue;

}

.nav-icon {
  margin: 0px;
  padding-bottom: 5px;
  font-size: 20px;
  display: inline-block;
}

nav {
  background-color: var(--projBoxCol);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 40px;
  color: var(--col6);
  border-bottom: #d1e8e2 1px solid;
  display: flex;
  justify-content: center;
}

.nav-elem:hover {
  animation-name: nav-hover;
  animation-duration: 0.55s;
  background-color: var(--col5);
  color: black;
}

.pdf:hover {
  cursor:pointer;
}

@keyframes nav-hover {
  from {
    background-color: var(--col2);
    color: var(--col6);
  }
  to {
    background-color: var(--col5);
    color: black;
  }
}


.programmer-img {
  width: 550px;
  margin-right: 30%;
  margin-left: 0;
}
.velvet-theme .programmer-img {
  width: 600px;
}
.home-para {
  width: 400px;
}
section .left-col {
  margin-left: 30%;
  display: flex;
  justify-content: center;
}
section .right-col {
  display: flex;
  justify-content: center;
}

.contents {
  margin: 0 auto;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  max-width: 1500px;
}

.name {
  color: var(--col1);
  font-size: 35px;
}
.description {
  color: var(--col1);
  font-size: 25px;
}

.dropdown {
  position: relative;
}
.pdf {
  margin-top: 10px;
  margin-bottom: 10px;
}

.popout {
  display: none;
  position: absolute;
  
  background-color: var(--col5);
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-bottom: 0px;
}

.dropdown-text {
  color: black;
  text-decoration-line: none;
  font-style: unset;
  font-size: 20px;
  margin-bottom: 20px;

}
.dropdown-text-alt {
  display: none;
}
.spacer3 {
  height: 10px;
  width: 100%;
}

.res-pop:hover .popout {
  display: block;
}
.res-pop:hover .popout {
  animation-name: nav-hover;
  animation-duration: 0.55s;
  background-color: var(--col5);
  color: black;
}
.viewPdf {
  margin-bottom: 10px;
}

.emailBtn {
  border: 2px solid white;
  max-width: 140px;
  font-size: 35px;
  color: var(--bodyTextCol);
  background-color:var(--navCol);
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px 5px;
}

.icon {
  padding-top: 4px;
  padding-right: 5px;
}

@media (min-width: 1000px) {
  .spacer {
    width: 10%;
  }
  .spacer2 {
    width: 10%;
  }
  .programmer-img {
    width: 600px;
    margin-right: 0;
  }
  .velvet-theme .programmer-img {
    width: 600px;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .spacer {
    width: 0;
  }
  .spacer2 {
    width: 0;
  }
  .spacer3 {
    width: 0;
  }

  
  p.description {
    font-size: 40px;
  }
  h2.name {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  
  .spacer {
    width: 0px;
  }
  .spacer2 {
    width: 0;
  }
}

@media (max-width: 1005px) {
  
  .contents {
    display: block;
  }
  section .left-col {
    margin-left: 0%;
  }
  .programmer-img {
    width: 600px;
    height: 800px;
    margin-right: 0;
  }
  .velvet-theme .programmer-img {
    width: 500px;
    height: 500px;
    margin-right: 0;
  }
  .nav-op {
    padding-left: 10px;
    padding-right: 10px;
  }

}
@media (max-width: 900px) {
  .nav-op {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (max-width: 800px) {
  .popout {
    margin-top: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .programmer-img {
    width: 300px;
    height: 400px;
    margin-right: 0;
  }
  .velvet-theme .programmer-img {
    width: 300px;
    height: 250px;
    margin-right: 0;
  }
  section .left-col {
    margin-left: 3%;
    margin-right: 3%;
  }
  .nav-word {
    display: none;
  }

  nav {
    justify-content:center;
    height: 80px;
  }
  .nav-op {
    padding-left: 30px;
    padding-right: 30px;
    height: 30px;
    font-size: 55px;
    max-height: 10px;
  }
  .nav-icon {
    font-size: inherit;

  }
  
}
@media (max-width: 680px) {
  .dropdown-text {
    display: none;
  }
  .keep {
    display: block;
    font-size: 15px;
    text-decoration-line:none ;
  }
  .dropdown-text-alt {
    display: block;
    font-size: 15px;
  }
  .icon {
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .homeMail {
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 1px;
  }
  .nav-op {
    padding-left: 9px;
    padding-right: 9px;
  }

  .spacer2 {
    margin-right: 5px;
  }
  .spacer {
    margin-left: 5px;
  }
}

@media (max-width: 460px) {
  .nav-op {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 45px;
  }
  .nav-elem {
    padding-top: 10px;
  }
  nav {
    justify-content:center;
    height: 70px;
  }
  .dropdown-text-alt {
    font-size: 10px;
  }
}

